.Data {
  display: flex;
  width: 100%;
  max-height: 96vh;
  overflow-y: hidden
}

.Navbar {
  float: right;
}

.Dialog {
  width: calc(100% - 40px);
  min-width: 300px;
  max-height: 100%;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
}

.PhrasesWrapper {
  overflow: auto;
  height: 100%;
  margin-right: -10px;
  margin-left: -10px;
}

.Phrase {
  width: auto;
  background-color: #391C20;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  min-width: 250px;
  border: 3px solid #D89936;
  z-index: 2;
}

.dropArea {
  z-index: 1;
  background-color: #000;
  min-height: 100px;
}
